!!! 5
html(lang="en")
  head
    title=title
    
  link(rel="stylesheet", type="text/css", href="css/main.css")
  link(rel="stylesheet", type="text/css", href="css/smoothness/jquery-ui-1.8.11.custom.css")
    
  script(type="text/javascript", src="js/jade.js")
  script(type="text/javascript", src="js/jquery-1.5.1.min.js")
  script(type="text/javascript", src="socket.io/socket.io.js")
  script(type="text/javascript", src="js/jquery-ui-1.8.11.custom.min.js")
  script(type="text/javascript", src="js/md5-min.js")
  script(type="text/javascript", src="js/date.format.js")

  body
    header.appHeader
      hgroup
        .appTitle
          h1
            a.tagMenuItem(href="#navItem", data-tag="all", style="text-decoration: none; color: black;") !{title}
        nav.appNav
        
          - var nav = partial('../public/template/nav.jade', data.tagsScore)
          !{nav}
      
    .content
      !{body}

  footer
    News By Michetti
    br
    a(href="", id="mudarUsuario", style="cursor: pointer;") Mudar Usuário
