div#newTagContainer(style="display: none;", title="Associar Tag")
  form
    fieldset
      label(for="newTag-tag") Tag
      input(type="text", id="newTag-Tag", style="width: 420px;", placeholder="Ex: Tecnologia", class="ui-corner-all")