div#identificationContainer(style="display: none;", title="Olá, qual seu email?")
  form
    fieldset
      label(for="identification") Email
      input(type="email", id="identification", style="width: 420px;", placeholder="Ex: a.michetti@gmail.com", class="ui-corner-all")